<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset("bootstrap/css/bootstrap.min.css") }}" rel="stylesheet" />
            <link href="{{ asset("fontawesome/css/font-awesome.min.css") }}" rel="stylesheet" />
            <link href="{{ asset('css/style.css') }}" rel="stylesheet">
            <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% include "Common/navbar.html.twig" %}
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                    {% block body %}{% endblock %}
                </div>
            </div>
        </div>
        {% include "Common/footer.html.twig" %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
