{% extends 'base.html.twig' %}

{% block body %}
<section>
    <div class="container">
        <div class="row pad-row">
            <div class="">
                {% for blog in blogs %}
                <h2>{{ blog.title }}</h2>
                <p>
                    {{ blog.content }}
                </p>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endblock %}
