{% extends "base.html.twig" %}

{% block body %}
<section>
    <div class="container">
        <div class="row pad-row">
            <h2>{{ blog.title }}</h2>
            <p>
                {{ blog.content }}
            </p>
        </div>
    </div>
    <div class="container">
        <div class="row pad-row">
            {% for comment in blog.getComments() %}
            <p>
                {{ comment.getComment() }}
                {{ comment.getCreatedAt()|date('Y-m-d H:i:s') }}
            </p>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
