{% extends "Admin/layout.html.twig" %}

{% block body %}
<div class="">
    <a href="{{ path('category_registration') }}">カテゴリを登録</a>
</div>
<h2>カテゴリ一覧</h2>
<table>
    <tr>
        <th>
            カテゴリ名
        </th>
        <th></th>
        <th></th>
    </tr>
    {% for category in categories if category %}
    <tr>
        <td>{{ category.name }}</td>
        <td><a href="{{ path('category_edit', {'id': category.getId()}) }}">編集</a></td>
        <td><a href="{{ path('category_remove', {'id': category.getId()}) }}">削除</a></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
