<section>
    <ul class="nav nav-sidebar">
        <li>
            <a href="{{ path('admin_blog_list')}}">ブログ一覧</a>
        </li>
        <li>
            <a href="{{ path('app_admin_blogpost_index')}}">ブログ投稿</a>
        </li>
        <li>
            <a href="{{ path('admin_category')}}">カテゴリ管理</a>
        </li>
    </ul>
</section>
